@charset "UTF-8";



/* 버튼 */

.btn-two{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
.btn-two:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--transDur: 0.1s;
	font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
}
.btn-two {
	display: flex;
}
.btn-two, .iptxt {
	color: var(--fg);
	font: 1em/1.5 Helvetica, sans-serif;
}

.btn-two, label {
	width: 100%;	
}
.btn-two{
	margin: auto;
    max-width: 18em;
   position: relative;
    top: 186px;
}

/*  */

.btn-four{
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
.btn-four:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--transDur: 0.1s;
	font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
}
.btn-four {
	display: flex;
}
.btn-four, .iptxt {
	color: var(--fg);
	    font: 9px Helvetica, sans-serif;
}

.btn-four, label {
	width: 100%;	
}
.btn-four{
	max-width: 30em;
    position: relative;
    top: 95px;
    float: right;
    right: 95px;
}

/*  */





label {
	display: block;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
label:first-child input {
	border-radius: 0.5em 0 0 0.5em;
	box-shadow:
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset,
		-0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input {
	border-radius: 0 0.5em 0.5em 0;
	box-shadow:
		0 -0.1em 0 #926086 inset,
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #2726267f inset,
		0 0.1em 0 #afa490 inset,
		-0.1em 0 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
label:first-child input:checked {
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset,
		-0.1em -0.2em 0 #ffffff7f inset,
		0.2em 0 0 #ffffff7f inset;
}
label:last-child input:checked {
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 -0.1em 0 #722257 inset,
		0 0.1em 0 #847a62 inset,
		-0.1em 0 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		-0.1em -0.1em 0 0.1em #ffffff7f inset;
}
.iptxt{
	background-image: linear-gradient(#ffffff 33%,#414751 58%,#837b52,#c5baa1,#c3adaa);
	border-radius: 0;
	box-shadow:
		0.1em 0 0 #2726267f inset,
		-0.1em 0 0 #27262600 inset,
		0 0.1em 0 #afa490 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.2em 0.5em #0000007f,
		0 -0.1em 0 #926086 inset,
		-0.1em -0.2em 0 #ffffff7f inset;
	cursor: pointer;
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
	height: 1em;
	transition: box-shadow var(--transDur) ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.iptxt:checked {
	background-image: linear-gradient(#ffffff 33%,#414751 58%,#827a7b,#c0b6ac,#c3adaa);
	box-shadow:
		0.1em 0 0 #272626af inset,
		-0.1em 0 0 #272626 inset,
		0 0.1em 0 #847a62 inset,
		0 -0.1em 0 #ffffff3f,
		0 0.1em 0 #ffffff7f,
		0 -0.1em 0 #722257 inset,
		-0.1em -0.2em 0 #ffffff7f inset;
}
.iptxt:checked + .inputext {
	opacity: 1;
}
.iptxt:focus {
	outline: transparent;
}
.iptxt + .inputext {
	opacity: 0.45;
	transition: opacity var(--transDur) ease-in-out;
	color: white;
	    margin-left: 12px;
}
