@charset "EUC-KR";

.name{
  
  background-color:gray;
  text-align:center;
  height: 80px;
  width: 20%;
  position: fixed;
  top: 0; left: 0;
  height: 100px;
  
  background-color: #ddd;
  
}
.input{
	display:grid;
}

.topper{
  position: fixed;
  top: 0; left: 0;
  
  width: 100%;
  display:flex;
 
}
.top_right{
	 width: 80%;
     height: 100px;
	background-color: gray;

}
.top_left{
	 width: 20%;
     height: 100px;
	background-color: #ddd;
	text-align:center;
}

#btn{
	
	width:100px;
	height:50px;
}
#btn_bundle{
	padding: 25px;
}
section {
  padding-top: 80px; padding-bottom: 150px;
  
}
.photo1, .photo2{
	width:100px;
	height:200px;
	padding:25px;
}
.aside{
	display:flex;
	
}
.center{
	display:flex;
}
.big{
	width:100%;
	height:100%;
}




