<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB정보 가져오기 -->
	<properties resource="mapper/db.properties"></properties>

	<typeAliases>
		<!-- 데이터 타입 별 alias 설정 -->
		<typeAlias type="model.DoctorVO" alias="DoctorVO" />
		<typeAlias type="model.DoctorVO2" alias="DoctorVO2" />
		<typeAlias type="model.DoctorDAO" alias="DoctorDAO" />
		<typeAlias type="model.CustomerVO" alias="CustomerVO" />
		<typeAlias type="model.CustomerDAO" alias="CustomerDAO" />
		<typeAlias type="model.SearchVO" alias="SearchVO" />
		<typeAlias type="model.XrayVO" alias="XrayVO" />
		<typeAlias type="model.XrayDAO" alias="XrayDAO" />
		<typeAlias type="model.LandmarkVO" alias="LandmarkVO" />
		<typeAlias type="model.LandmarkDAO" alias="LandmarkDAO" />
		<typeAlias type="model.XrayCommentVO" alias="XrayCommentVO" />
		<typeAlias type="model.XrayCommentDAO" alias="XrayCommentDAO" />
		<typeAlias type="model.XrayLandmarkVO" alias="XrayLandmarkVO" />
		<typeAlias type="model.XrayLandmarkDAO" alias="XrayLandmarkDAO" />

	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- Mapper.xml 들을 나열해주는 공간 -->
		<mapper resource="mapper/DoctorMapper.xml" />
		<mapper resource="mapper/CustomerMapper.xml" />
		<mapper resource="mapper/XrayMapper.xml" />
		<mapper resource="mapper/LandmarkMapper.xml" />
		<mapper resource="mapper/XrayCommentMapper.xml" />
		<mapper resource="mapper/XrayLandmarkMapper.xml" />

	</mappers>
</configuration>