<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지를 적어주기 -->
<mapper namespace="CustomerDAO">

	<insert id="pJoin" parameterType="CustomerVO">
		insert into tbl_patient
		values(
		tbl_patient_SEQ.NEXTVAL,
		#{doc_id},
		sysdate,
		#{p_name},
		#{p_birth},
		#{p_gender}
		)

	</insert>

	<select id="pSearch" resultType="SearchVO">
		select *
		from tbl_patient
		where
		(p_name like #{p_name}
		or p_seq like #{p_name})
		and doc_id = #{doc_id}
		order by p_name asc
	</select>

	<update id="pUpdate" parameterType="CustomerVO">
		update tbl_patient
		set
		p_name = #{p_name},
		p_birth = #{p_birth},
		p_gender = #{p_gender}
		where p_seq = #{p_seq}
	</update>

	<delete id="pDelete" parameterType="CustomerVO">
		delete
		from tbl_patient
		where p_seq = #{p_seq}
	</delete>

	<select id="pList" parameterType="CustomerVO"
		resultType="CustomerVO">
		select *
		from tbl_patient
		where doc_id = #{doc_id}
		order by p_name asc
	</select>

	<select id="pvo" parameterType="CustomerVO"
		resultType="CustomerVO">
		select *
		from tbl_patient
		where p_seq = #{p_seq}
	</select>



</mapper>