<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지를 적어주기 -->
<mapper namespace="DoctorDAO">

	<insert id="join" parameterType="DoctorVO">
		INSERT INTO tbl_doctor
		values(
		#{doc_id},
		#{doc_pw},
		#{doc_name},
		#{doc_hospital},
		sysdate,
		#{mem_type}
		)
	</insert>


	<select id="idCheck" parameterType="DoctorVO"
		resultType="DoctorVO">
		select *
		from tbl_doctor
		where doc_id = #{doc_id}
	</select>

	<select id="login" parameterType="DoctorVO"
		resultType="DoctorVO">
		select *
		from tbl_doctor
		where doc_id = #{doc_id}
		and doc_pw =
		#{doc_pw}
	</select>

	<select id="docvo" parameterType="DoctorVO"
		resultType="DoctorVO">
		select *
		from tbl_doctor
		where doc_id = #{doc_id}
	</select>

	<update id="docUpdate" parameterType="DoctorVO2">
		update tbl_doctor
		set
		doc_pw = #{doc_pw},
		doc_name = #{doc_name},
		doc_hospital = #{doc_hospital}
		where doc_id = #{doc_id}
	</update>




</mapper>