<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지를 적어주기 -->
<mapper namespace="XrayDAO">

	<insert id="xrayJoin" parameterType="XrayVO">
		insert into X_RAY
		values(
			xr_cnt_seq.nextval,
			#{doc_cnt},
			sysdate,
			#{cus_cnt},
			#{xr_name}
		)
	</insert>
	
	<select id="selectXray" parameterType="XrayVO"
		resultType="XrayVO">
		select * 
		from x_ray
		where cus_cnt = #{cus_cnt}
			and doc_cnt = #{doc_cnt}
		order by que_num desc
	</select>
	
	



</mapper>