<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어떤 DAO에서 사용하는지를 적어주기 -->
<mapper namespace="XrayCommentDAO">

	<insert id="insertCom" parameterType="XrayCommentVO">
		insert into tbl_xray_cmt
		values(
			tbl_xray_cmt_SEQ.nextval,
			#{xray_seq},
			#{doc_id},
			#{cmt_content},
			sysdate
		)
	</insert>
	
	<select id="selectXrayCom" resultType="XrayCommentVO">
		select * 
		from tbl_xray_cmt
		where xray_seq like #{xray_seq}
	</select>

</mapper>